body { /* Site Background */
	background-image: url('../images/Thumb/backdrop.png');
}

nav { /* NAV */
	background: black;
	display: block;
	border-style: double;
	color: silver;
	font-size: 25px;
}

footer { /* Footer */
	display: block;
	background: black;
	color: silver;
}

form { /* Contact */
	border-radius: 20px;
	background-color: #54411B;
	font-weight: bold;
	font-family: "Monospace" monospace,Arial, Helvetica, sans-serif;
	color: yellow;
}

th {
	font-family: "Monospace" monospace,Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.home { /* Header */
	color: silver;
	background-image: url('../images/Thumb/thumbnail_1.png');
	background-repeat: round;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
	font-size: 45px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titleimage { /* Title Image */
	text-align: center;
	background-image: url('../images/Thumb/thumbnail_11.png');
	background-repeat: no-repeat;
	background-position: center;
	padding: 50px;
	/* style="background-image: url('./images/thumbnail_11.png');" How to write in html*/
}

.textblock { /* Block for text to be displayed on and bordered */
	display: inline-block;
	border-style: double;
	background-color:#1a0d00;
	padding: 10px;
	color: silver;
	margin: 1px 1px 1px 1px;
}

.center {
	text-align: center;
}

.thumbs {
    float: left;
    margin: 5px;
    cursor: pointer;
    border: 10px solid black;
}