{% extends "arena_base.html" %}

{% block content %}
	<h1>{{ fighter.name }}</h1>
	<div class="detail-container">
			<p>AGE - {{ fighter.age|title }}</p>
			<p>Team Colors - {{ fighter.colors|title }}</p>
			<p>Equipment - {{ fighter.equipment|title }}</p>
			<p>Wins - {{ fighter.wins|title }}</p>
			<p>Losses - {{ fighter.losses|title }}</p>
	</div>

	<br>
	<button><a href="{% url 'arena_display' %}" class="hover-text">Back</a></button>
	<button><a href="../{{ form.pk }}edit/" class="hover-text">Edit this Gladiator?</a></button>

{% endblock %}