{% extends "arena_base.html" %}

{% block content %}

<h1>GLADIATORS</h1>
<table class="form-container">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Colors</th>
        <th>Equipment</th>
        <th>Wins</th>
        <th>Losses</th>
    </tr>

    {% for f in fighters %}
    <tr>
        <td><a href="../{{ f.pk }}/details/">{{f.name}}</a></td>
        <td>{{f.age|title}}</td>
        <td>{{f.colors|title}}</td>
        <td>{{f.equipment|title}}</td>
        <td>{{f.wins|title}}</td>
        <td>{{f.losses|title}}</td>
    </tr>
    {% endfor %}
</table>

<br>
<button class="btn"><a href="{% url 'arena_home' %}">Back to the Arena</a></button>

{% endblock %}