body {
    text-align: center;
}

div {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    padding-right: 20px;
    border: 2px solid black ;
    border-radius: 10px;
}

img {
    border-radius: 45px;
    padding: 10px;
}

input {
    border: 2px solid black ;
    border-radius: 10px;
    padding: 5px;
}

button {
    padding: 5px;
    border: 1px solid black;
    margin: 3px;
    border-radius: 10px;
}

canvas {
    border: 5px double black;
    border-radius: 10px;
    background-color: antiquewhite;
    width: 500px;
    height: 250px;
}

/* Classes */

.test {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}