body{
    background-image: linear-gradient(brown, black);
    font-family: monospace, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

h1{
    color: #D9BE33;
    text-shadow: 2px 2px black;
}

h3{
    color: #D9BE33;
    text-shadow: 2px 2px black;
}

table{
    display: inline-block;
    color: white;
    margin: 5px;
    text-align: center;
}

table tr{

}

table th{
    color: #D9BE33;
    text-shadow: 2px 2px black;
    padding: 5px;
}

table td{
    padding: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

/* Pushes footer to bottom of the page */
footer{
    position: fixed;
    bottom: 0;
    padding: 10px;
    font-weight: 700;
}

img{
    width: 400px;
    height: 400px;
    border: ridge 5px grey;
}

/* =============== Buttons/Links =============== */

button {
    font-family: monospace, sans-serif;
    color: silver;
    font-size: 20px;
    border: ridge 5px grey;
    margin: 10px;
    padding: 5px;
    background-color: #68592C;
    text-decoration: none;
    text-shadow: 1px 1px black;
}

/* removed link color change for clarity and to avoid colors clashing*/
a{
    text-decoration: none;
    text-shadow: 1px 1px black;
}


a:visited{
    color: white;
}

.result{
    animation: fade 15s;
}

@keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* =============== Boxes =============== */

.detail-container{
    position: center;
    padding: 5px;
    color: silver;
    text-align: left;
    display: inline-block;
    border: ridge 7px grey;
    border-radius: 5px;
    background-image: linear-gradient(brown, #4D462A);
}

.form-container{
    position: center;
    display: inline-block;
    border: ridge 7px grey;
    border-radius: 5px;
    background-image: linear-gradient(brown, #4D462A);
    padding: 10px;
}


button:hover {
    border: ridge 5px white;


